{
    "root": true,

    "extends": "@ljharb",

    "rules": {
        "array-bracket-newline": 0,
        "comma-spacing": 1,
        "indent": [2, 4],
        "max-statements-per-line": 1,
    },

    "overrides": [
        {
            "files": "example/**",
            "rules": {
                "no-buffer-constructor": 0,
                "no-console": 0,
            },
        },
    ],
}
